@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"), url(../fonts/Gilroy-Extrabold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
}

html,
body {
    font-family: "Gilroy", sans-serif;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.button {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    display: block;
    height: 40px;
    border: 1px solid rgba(34, 34, 34, 0.3);
    margin: 0 auto;
    background-color: transparent;
}

.button::before {
    content: "";
    display: block;
    width: 1.5em;
    height: 1px;
    position: absolute;
    left: -0.85em;
    top: 50%;
    background-color: #222222;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 1;
    height: 85px;
    border-bottom: 1px solid #EBEBEB;
}

.nav__icon {
    -ms-flex-preferred-size: 85px;
    flex-basis: 85px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #EBEBEB;
}

.nav__icon:first-child {
    border-left-width: 0;
}

.nav__icon:last-child {
    border-right-width: 0;
}

.nav__icon svg {
    fill: #222;
}

.nav__icon:hover svg {
    fill: #C6876D;
}

.nav__icon.map:hover .nav__hover-panel,
.nav__icon.tel:hover .nav__hover-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav__menu-left {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.nav__hover-panel {
    position: absolute;
    display: none;
    width: calc(100% - 170px);
    left: 85px;
    height: 84px;
    background: #fff;
    z-index: 1;
}

.nav__hover-panel p {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    padding: 0 20px;
}

.nav__hover-panel p:first-child {
    border-right: 1px solid #EBEBEB;
}

.nav__hover-panel span {
    color: #C6876D;
}

.nav__hover-panel a {
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    color: #222222;
}

.nav__hover-panel button {
    width: 15em;
    margin: 0 30px;
}

.nav__menu-right {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.nav__menu-link {
    position: relative;
    font-weight: 800;
    line-height: 20px;
    color: rgba(34, 34, 34, 0.7);
}

.nav__menu-link:not(:last-child) {
    margin-right: 50px;
}

.nav__menu-link:hover {
    color: #222;
}

.nav__menu-link:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    position: absolute;
    top: 260%;
    background-color: #222222;
}

header.container {
    margin-bottom: 90px;
    background: bottom url("../image/main/main.png") no-repeat;
    position: relative;
}

.main {
    position: absolute;
    top: 180px;
    right: 0;
    left: 0;
    z-index: 1;
}

.main__title {
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    line-height: 72px;
    margin-bottom: 48px;
}

.main__title .main__subtitle:not(.default) {
    display: none;
}

.main__title.fixes,
.main__title.types,
.main__title.design,
.main__title.renovation {
    color: white;
}

.main__title.fixes .title-outline,
.main__title.types .title-outline,
.main__title.design .title-outline,
.main__title.renovation .title-outline {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.main__title.fixes .default,
.main__title.types .default,
.main__title.design .default,
.main__title.renovation .default {
    display: none;
}

.main__title.fixes .main__subtitle.fixes {
    display: inline;
}

.main__title.types .main__subtitle.types {
    display: inline;
}

.main__title.design .main__subtitle.design {
    display: inline;
}

.main__title.renovation .main__subtitle.renovation {
    display: inline;
}

.main.open button {
    color: #fff;
    border-color: #fff;
}

.main.open button::before {
    background-color: #fff;
}

.main button {
    width: 15em;
}

.services {
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 670px;
    padding-bottom: 90px;
}

.services .main__link {
    width: 24.95%;
    height: 85px;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: .03rem;
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 0;
}

.services .main__link:first-child {
    border-left: 0;
}

.services .main__link-expanded {
    position: absolute;
    top: 0;
    bottom: 90px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 40px;
    width: 25%;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFF;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    z-index: -1;
}

.services .main__link-expanded svg {
    margin-top: 35px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.services .main__link-expanded h4 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.services .main__link-expanded p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}

.services .main__link-expanded--red {
    background: #EB5757;
}

.services .main__link-expanded--green {
    background: #219653;
}

.services .main__link-expanded--blue {
    background: #2F80ED;
}

.services .main__link-expanded--violet {
    background: #9B51E0;
}

.services .main__link:hover .main__link-expanded {
    opacity: 1;
    z-index: 0;
}

.services.open~.nav .nav__menu-link,
.services.open~.nav .nav__icon svg {
    color: #fff;
    fill: #fff;
}

.portfolio {
    width: 1100px;
    margin: 0 auto 136px;
}

.portfolio__title {
    position: relative;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 48px;
}

.portfolio__title::before {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    position: absolute;
    left: -7%;
    top: 50%;
    background-color: #222222;
}

.portfolio__examples {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (270px)[4];
    grid-template-rows: repeat(4, 270px);
    gap: 10px 10px;
    grid-template-areas:
        "one one two"
        "three four two"
        "five six seven"
        "five eight eight";
    margin-bottom: 64px;
}

.portfolio__examples>div {
    position: relative;
    padding: 32px;
}

.portfolio__examples>div::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
    -webkit-transition: -webkit-filter 0.3s ease;
    transition: -webkit-filter 0.3s ease;
    transition: filter 0.3s ease;
    transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.portfolio__examples>div::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), rgba(0, 0, 0, 0.1);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.1);
}

.portfolio__examples>div:hover::before {
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}

.portfolio__examples>div:hover .build {
    opacity: 1;
}

.portfolio__examples-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: one;
}

.portfolio__examples-1::before {
    background: url("../image/main/build_1.png") no-repeat;
}

.portfolio__examples-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: two;
}

.portfolio__examples-2::before {
    background: url("../image/main/build_2.png") no-repeat;
}

.portfolio__examples-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: three;
}

.portfolio__examples-3::before {
    background: url("../image/main/build_3.png") no-repeat;
}

.portfolio__examples-4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: four;
}

.portfolio__examples-4::before {
    background: url("../image/main/build_4.png") no-repeat;
}

.portfolio__examples-5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: five;
}

.portfolio__examples-5::before {
    background: url("../image/main/build_5.png") no-repeat;
}

.portfolio__examples-6 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: six;
}

.portfolio__examples-6::before {
    background: url("../image/main/build_6.png") no-repeat;
}

.portfolio__examples-7 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: seven;
}

.portfolio__examples-7::before {
    background: url("../image/main/build_7.png") no-repeat;
}

.portfolio__examples-8 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: eight;
}

.portfolio__examples-8::before {
    background: url("../image/main/build_8.png") no-repeat;
}

.portfolio .build-name {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03rem;
    color: #fff;
}

.portfolio .build {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    bottom: 32px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.portfolio .build span {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 8px;
}

.portfolio .build h4 {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.portfolio button {
    width: 13em;
}

.contacts {
    width: 1100px;
    margin: 0 auto 135px;
}

.contacts__title {
    position: relative;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 48px;
}

.contacts__title::before {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    position: absolute;
    left: -7%;
    top: 50%;
    background-color: #222222;
}

.contacts__subtitle {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.contacts__info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.contacts__addresses {
    width: 370px;
}

.contacts__addresses--container {
    width: 340px;
    height: 52px;
    margin-bottom: 48px;
}

.contacts__link {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #222222;
    border-radius: 2px;
}

.contacts__link:not(:last-child) {
    margin-right: 10px;
}

.contacts__work {
    width: 370px;
}

.contacts__questions {
    width: 370px;
}

.contacts__form {
    margin-top: 25px;
}

.contacts__form-field {
    position: relative;
    margin-bottom: 34px;
}

.contacts__form-field::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 110%;
    background-color: #EBEBEB;
}

.contacts__form-field .pin {
    position: absolute;
    top: 50%;
    right: 0;
}

.contacts__form label {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
}

.contacts__form input {
    position: relative;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.contacts__textarea {
    height: 30px;
    resize: none;
    margin-bottom: 20px;
    padding-left: 0;
}

.file-label {
    position: relative;
    bottom: 4px;
    left: 90%;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
}

.file-label__input {
    width: 10px;
    height: 0;
}

.contacts__consent {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    color: #909090;
    margin-bottom: 33px;
}

.contacts__consent abbr {
    color: #222222;
}

.contacts button {
    width: 18.5em;
    margin: 0;
}

.copyright {
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1100px;
    height: 69px;
    margin: 0 auto;
}

.copyright__agreement,
.copyright__author {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.copyright strong {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
}

.copyright::before {
    position: absolute;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #222222;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.title-outline {
    color: transparent;
    -webkit-text-stroke: 1px #222;
}